.light-mode {
	--main-color: rgb(46,103,248);
	--background-color: white;
	--text-color:black;
}
.dark-mode {
	/* --main-color: rgb(60, 163, 95); */
	--main-color: rgb(183, 24, 24);
	--background-color: rgb(28, 28, 28);
	--text-color: rgb(255, 255, 255);
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
	width: 90vw;
	
	background-color: var(--background-color);
	color: var(--text-color);
}
h1 {
	font-weight: 100;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--main-color);
}
/* ANCHORS STYLES */
.link {
	text-decoration: none;
	/* font-weight: bold; */
	color: inherit; 
	transition: border-bottom .05s;
}
.link:hover {
	border-bottom: 2px solid var(--main-color);
}
.email {
	text-decoration: none;
	font-weight: 400;
	color: inherit;
	border-bottom: 2px solid var(--main-color);
	transition: background-color .8s;
}
.email:hover {
	background-color: var(--main-color);
	color: var(--background-color);
}
/* #SECTIONS */
#home {
	height: 100vh;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* DARKMODE BTN */
#dark-btn {
	font-size: 1.5rem;
	color: var(--main-color);
	background-color: inherit;
	border: none;
	position: absolute;
	margin: 10% 5%;
	cursor: pointer;
}
/* DARKMODE BTN */
.section {
	margin: 10% 5%;
	cursor: default;
}
.title {
	color: var(--main-color);
	font-weight: 400;

}
.content {	
	padding: 5% 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* SKILLS */
 #skills {
	width: 100%;
	margin: 5% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
} 
.skills-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5% 5%;
	width: 80%;
}
.card i {
	font-size: 90px;
}

/* ADD TRANSITION */
.card {
	display: flex;
	flex-direction: column;
	width: 100px;
	margin: 2.5% 2.5%;
	padding: 15px 10px;
	
}
.card:hover {
	color: var(--main-color);
	
}

/* FOOTER */
.footer {
	width: 80%;
	margin: 0%  5%;
	padding: 1.5% 5%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.footer-span {
	 color: inherit;
}
.nav-list {
	list-style: none;
	display: flex;
}
.nav-list li {
	margin-left: 50px;
	font-size: 1.5rem;
}

@media only screen and (max-width: 550px){
	body {
		font-size: .8rem;
	}
	#home {
		font-size: 100%;
	}
	.footer {
		display: flex;
		flex-direction: column-reverse;
	}
	.footer-span {
		margin: 20px 0;
	}
	#navbar {
		display: flex;
	}
	.nav-list li {
		margin: 0px 30px;
	}	
}
